body {
    margin: 0px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.box {
    max-width: 450px;
    flex-wrap: wrap;
    flex-direction: column;
}